

*,::after,::before{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Roboto', sans-serif;
    background-color: hsl(210, 36%, 96%);
}
.main{
    /* position: relative; */
    width:80vw;
    /* border: 1px solid red; */
    display:grid;
    place-items: center;
    margin:0 auto;
    height:100vh;

}
.headline{
    color:#102A42;
    width:80vw;
    /* border: 1px solid red; */
    height:150px;
    position: relative;
    /* margin: auto; */
    text-align: center;
    top:30px;
    font-size:1.2rem;
    letter-spacing:5px;
}
.headline-description{
    font-size:15px;
    padding-top: 10px;
    color:#617D98;
    letter-spacing:1px;
}

/* CONTENT  */

/* .content{
    position: relative;
    width:100%;
    border: 1px solid red;
   
}
.container{
    border:2px solid blue;
    display:flex;
    flex-direction:row;
    height:20rem;
    width:100%;
    
}
.image{
    border:5px solid yellow;
    max-width:480px;
    width:50%;
    height:20rem;
}

.image img{
    object-fit: cover;
    position: relative;
    max-width:480px;
    width:50%;
  
    height:100%;

} */
.container{
    height:18rem;
    display:flex;
    flex-direction:row;
    justify-content:space-evenly;

}
.image{
    border:none;
    
    width:48%;
    max-width:480px;
}
.image img{
    /* transform:scale(1.2); */
    /* display:block; */
    object-fit: cover;
    border-radius:15px;
    height:100%;
    width:100%;
}
.description{
    width:48%;
    background-color: white;
    min-height:20rem;
    height: auto;
    border-radius: 15px;
    overflow:hidden;

}
.options{
    width:100%;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    color:hsl(212, 33%, 89%);
    height:60px;
    /* border-top-left-radius: 15px; */
}
.options .btn-info{
    border-style: none;
    


    background-color:hsl(212, 33%, 89%);
    font-size: 1.2rem;
    letter-spacing:1px;
    cursor: pointer;
    transition:background-color .7s;
}
.btn-info:hover{
    color:dodgerblue;
    background-color:rgb(220, 250, 255);
}
#option-description{
    padding:15px;
}
#option-name{
    font-weight: bold;
    color:#102A42;
    letter-spacing:3px;
    margin-bottom: 9px;
    
}
#option-description p{
    font-size:14px ;
    letter-spacing:2px;
    /* opacity: .6; */
}

#history{
    border-top-left-radius: 15px;
}
#goals{
    border-top-right-radius: 15px;
}


.toggle-text{
    visibility:hidden;
}

ul{
    margin-top:5px;
    list-style: none;
}
.bg-color{
    background-color:white!important
}
#updated-text{
    opacity: .7;
    letter-spacing: 2px;
}
.text{
    opacity: .5;
}


@media(max-width:974px){
   
    .main{
        width:90vw;
    }
    .container{
        display:grid;
        grid-template-rows: 1fr 1fr;
        grid-gap:10px;
    }
    .image {
        width:100%;
    max-width:1200px;
    height:20rem;
    }
    .description{
        width:100%;
        /* z-index: 5; */
    }

}


